{% extends "base.html" %}
{% block body %}
<table class="table table-sm table-striped  ">
    <thead>
        <td>#</td>
        <td>Prénom</td>
        <td>Nom</td>
        <td>habilitation 1</td>
        <td>habilitation 2</td>
        <td>Carte affectée</td>
        <td>Détails</td>
    </thead>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td> 
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            {% for hab in user.habilitations %}
                <td>{{hab.name}}</td>
            {% endfor %}
            {% for i in range(2-user.habilitations|length) %}
                <td></td>
            {% endfor %}
            {% if user.card is none() %}
            <form method="POST" action="{{url_for('affect', user_id=user.id)}}">
                <td class="text-center">{{form.card_id(class_="form-control-sm")}}{{ form.csrf_token }}</td>
                <td class="text-center">{{form.submit(class_="btn btn-outline-primary btn-sm")}}</td>
            </form>
            {% else %}
                <td class="text-center"><span class="">{{user.card}}</span></td>
                <form method="POST" action="{{url_for('deaffect', user_id=user.id)}}">
                    <td>
                        {{ csrf_form.csrf_token }}
                        <input type="submit" value="Supprimer" class="btn btn-outline-danger btn-sm">
                    </td>
                </form>
            {% endif %}
            
        </tr>
    {% endfor %}
</table>
{% endblock %}