{% extends "base.html" %}
{% block title%}{% endblock %}
{% block body %}
<table class="table">
    <thead>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Actions</th>
    </thead>
    {% for card in cards %}
    <tr>
        <td>{{card.id}}</td> 
            {% if card.user is not None %}
                <td>
                    {{card.user.firstname}} 
                </td>
                <td>
                    <a class="btn btn-primary" href="#" role="button">Desaffect</a>
                </td>
            {% else %}
                <td>
                    <span class="text-warning">No affectation</span>
                </td>
            {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
